/*styles for my resume*/

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;

}

#container {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:50px;
}

/*name*/

#name {
    font-size: 3em;
    text-transform:uppercase;
    text-align:center;
    color:#33485e;
    border-bottom:1px solid #33485e;
    width:60%;
    min-width:300px;
    margin:0 auto;
}

/*job title header*/

#title {
    text-transform:uppercase;
    font-size:1.5em;
    color:#33485e;
    font-weight:600;
    text-align:center;
    margin-top:20px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}

/*section titles*/

.sectionheader {
    font-size: 1.5em;
    text-transform:uppercase;
    background-color:#33485e;
    color:#fff;
    margin-top:20px;
    margin-bottom:10px;
    margin-right:0;
    margin-left:0;
    width:70%;
    min-width:300px;
}

/*job titles*/

.jobtitle {
    font-size:1.5em;
    font-weight:600;
}

/*job organization*/

.organization {
    font-size:1.25em;
    font-weight:400;
}

/*job date*/

.date {
    font-style:italic;
    font-weight:400;
    font-size:1em;
    margin-top:2px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}

/*education and job description*/

.description {
    font-size:1em;
    margin-top:10px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}

/*contact info*/

.menu {
    font-size:1em;
    margin:0px;
    padding:0px;
    text-align:center;
    list-style:none;
}

.menu li {
    display:inline;
}

#degrees {
    margin-top:5px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}

#do {
    margin-top:5px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}

.top {
    width:60%;
    min-width:300px;
    margin:0 auto;
    margin-bottom:30px;
    margin-top:0;
}