/* Google Fonts */

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}

/* Navbar */

.navbar {
    border-bottom: 3px solid #000000;
}


#topNav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 3%;
    text-decoration: underline;
}

.navbar-brand {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding-left: 1%;
    letter-spacing: 1px;
}

/* Hero Styling */
.hero {
    background-image: url('blurry\ collage\ after\ 2.jpg'); 
    background-size: cover;        
    background-position: center;   
    height: 100vh; 
    width: 100vw;                
    color: white;                 
    position: relative;
    font-family: "DM Serif Display", serif;
}

.hero .container {
    position: relative;
    z-index: 2;
    padding-left: 5%;
}

.intro-text {
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -1px;

}

.hero h1 {
    font-size: 100px;
    letter-spacing: 2px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-left: 50px;
}

.hero h2 {
    font-size: 100px;
    letter-spacing: 2px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-top: -15px;
    margin-left: 100px;

}

.subtitle-wrapper {
    text-align: center;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 130px;
    color:black;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 1)
}

/* Section Styling */

.content {
    min-height: 100vh;
    margin: 50px;
    padding: 20px;    
    background:url('background.png');
    background-repeat: repeat;
    box-shadow: inset 20px 40px 50px rgba(0, 0, 0, .2);
}


.section {
    border-top: 6px solid #1c2537;
    padding-top: 50px;
    padding-bottom: 50px;

}

.section-title {
    color: white;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: "DM Serif Display", serif;
    background: linear-gradient(90deg, #1c2537 0%, #1c2537 80%,#1c253700 100%);
    padding: 0.5rem 1rem;
}

.row {
    padding: 10px;
}

/* About Me Styling */

#about {
    padding-top: 100px;
    padding-bottom: 50px;
}

.main-explanation {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 1%;
}

.detailed-explanation {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    padding: 1%;
}

.image-1 {
    width: 100%;
    max-width: 550px;
}

/* Experience Styling */

.job-box {
    background-color:#1c2537;
}

.job-title {
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: "DM Serif Display", serif;
    padding-top: 40px;
}

.organization {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: "DM Serif Display", serif;
    padding-top: 10px;
}

.date {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
}

.job-description {
    color: white;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
}

/* My Work Styling */

.work-list {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-decoration: underline;
    padding: 8%;
    color:#1c2537;

}

.photo {
    padding: 10%;
}

/* Skills Styling */

.skill-box {
  background-color:#1c2537;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  min-height: 250px;
}

.skill-title {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
}

.skill-box li {
  margin-bottom: 0.5rem;
  color:#ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Contact Me Styling */

.contact-item {
    font-size: 30px;
    color:#1c2537;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
}


@media screen and (max-width: 768px) {
    .hero h2 {
        font-size: 60px;
    }

    .hero h1 {
        font-size: 60px;
    }

    .intro-text {
        font-size: 18px;
        margin-bottom: 15px;
    }
    }

@media screen and (max-width: 1399px) {
    .hero {
        background-image: url('blurry\ collage\ after.jpg');
    }
}

